[submodule "lib/abstractgl/abstractgl"]
	path = lib/abstractgl/abstractgl
	url = https://github.com/the-last-willy/abstractgl.git
[submodule "lib/dear_imgui/dear_imgui"]
	path = lib/dear_imgui/dear_imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/glfw3/glfw3"]
	path = lib/glfw3/glfw3
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "lib/range_v3/range_v3"]
	path = lib/range_v3/range_v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "lib/tinygltf/tinygltf"]
	path = lib/tinygltf/tinygltf
	url = https://github.com/syoyo/tinygltf.git
